name: Backend CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy-backend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 18

    # CI check on GitHub runner
    - name: Backend CI check
      run: |
        cd /home/azureuser/todo_app_deployment
        npm install
        node index.js


    # Deployment on YOUR VM
    - name: Deploy backend to VM
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd /home/azureuser/todo_app_deployment
          git pull origin main

          cd backend
          /usr/bin/npm install
          /usr/bin/pm2 restart backend_process || /usr/bin/pm2 start index.js --name backend_process
